{% extends 'Home/base.html' %}
{% block title %}
Если вы читаете это, значит всё же открыли этот проект. <br>
Да, я не доделал его, да, функционал не полный, но я перерыл StackOverflow, пообщался с ChatGPT, перечитал тонну документции <br>
Честно, больше мотивации не осталось, мотивации делать вещь, которую скорее всего даже не откроют. <br>
Я трезво понимаю, что на тысячу откликов на эту вакансию найдутся люди, у которых на данный момент больше знаний, я лишь хочу шанс, шанс показать себя <br>
У меня колоссальное количество времени, огромное желание развиваться и совершенствоваться и что уж врать - огромное желание заработать денег <br>
Я способен показать вам результат, я готов учиться, готов не спать ночами, лишь бы закрыть дедлайн, лишь бы быть полезным и развиваться <br>
Конечно я не рассчитываю на сумму указанную в вакансии и даже четверть от неё - меня устроит <br>
Но дело не в деньгах, мне искринне нравится программировать, изучать что-то, я готов развиваться и хочу быть частью вашей команды<br>
<br>
Надеюсь на ваш фидбэк <br>
Анискин Ефим efimaniskin@gmail.com
{% endblock title %}
